<h1 class = "myCenter">This is a list</h1>
<ul class = "myCenter">
<% @users.each do |u| %>
<li>
<%= link_to(u.first_name + u.last_name, "/pics/user/"+u.id.to_s)  %>
</li>

<br>
<% end %>
</ul>



<h3>Please type in text a:</h3>
<form action=""> 
<input type="text" id="txt1" onkeyup="showHint(this.value)" />
</form>
<p>Result: <span id="txtHint"></span></p>
