.commentOddPanel
{
    background-color: #EFEFEF;

    border-radius: 8px 8px 8px 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.15);

    padding: 10px;
    margin: 20px 0px 0px 0px;
 
    clear: both;
}

.commentEvenPanel
{
    background-color: #FFFFFF;
 
    border-radius: 8px 8px 8px 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.15);

    padding: 10px;
    margin: 20px 0px 0px 0px;
 
    clear: both;
}

.commentCenteredContainer
{
    width: 360px;
	margin: 0px auto;
	text-align: center;
	padding-left: 100px;
}

.commentThumbnail 
{
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover;
	
	width: 40px;
	height: 40px;
	
	float: left;
	
	border-radius: 8px 8px 8px 8px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.15);
}

.commentName
{
	font-size: 12px;
	font-weight: bold;

	float: left;	
}

.commentDate
{
	font-size: 10px;
	font-style: italic;

	float: right;
	
	margin-top: 2px;
	margin-right: 2px;
}

.commentLeftColumn 
{
	float: left;
}

.commentRightColumn
{
	float: left;
	margin-left: 10px;
	width: 78%;
}

.commentInternalPanel
{
	clear: both;
}

.commentInternalLeftColumn
{
	font-size: 12px;
	font-weight: bold;
	float: left;
}

.commentInternalRightColumn
{
	font-size: 10px;
	font-style: italic;
	float: right;
}

.commentText
{
	clear: both;
	font-size: 12px;
	margin-top: 17px;
}

.newCommentDiv
{
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-top: 13px;
}